<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2018 Khai.Tran</small>
        </div>
        <div class="col-6 col-md">
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/gre/diaporama">Diaporama</a></li>
                <li><a class="text-muted" href="https://github.com/wwwtyro/canvas-video-generator">canvas-video-generator
</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://www.facebook.com/tulukhai">Facebook</a></li>
                <li><a class="text-muted" href="https://github.com/tulu1688">Github</a></li>
                <li><a class="text-muted" href="mailto:ngockhai.tulu@gmail.com">Email</a></li>
            </ul>
        </div>
    </div>
</footer>
