<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtube Video generator</title>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
</head>

<body>
    <% include header%>

        <div class="container">
            <div>
                <table id="videoList" class="display table table-striped table-bordered dataTable no-footer" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 25%">URL</th>
                            <th style="width: 30%">Title</th>
                            <th style="width: 15%">Trạng thái</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <% include footer%>
        </div>

        <script>
            var triggerRender = function(videoId) {
                $.ajax({
                    method: "POST",
                    url: "/v1.0/render",
                    data: {
                        video_id: videoId
                    }
                }).done(function(msg) {
                    location.reload();
                });
            }

            var triggerMergeAudio = function(videoId) {
                $.ajax({
                    method: "POST",
                    url: "/v1.0/merge-audio",
                    data: {
                        video_id: videoId
                    }
                }).done(function(msg) {
                    location.reload();
                });
            }

            var reportError = function(videoId) {
                $.ajax({
                    method: "POST",
                    url: "/v1.0/report",
                    data: {
                        video_id: videoId
                    }
                }).done(function(msg) {
                    location.reload();
                });
            };

            $(document).ready(function() {
                $('#videoList').DataTable({
                    'bLengthChange': false,
                    'bFilter': false,
                    'ajax': {
                        'url': '/v1.0/report/videos',
                        'type': 'POST',
                        'processing': true,
                        'serverSide': true,
                        'dataSrc': "",
                        'data': {
                            "is_deleted": false
                        }
                    },
                    "columns": [{
                        "data": "id"
                    }, {
                        "data": "url"
                    }, {
                        "data": "title"
                    }, {
                        "data": "status"
                    }, {
                        render: function(data, type, row) {
                            var actionBtns = '<div><a class="btn btn-outline-primary" href="/videos/' + row.id + '" style="margin-right: 10px;">Xem chi tiết</a></div>';
                            
                            if (row.status != 'REPORTED') {
                                actionBtns += '<div><a class="btn btn-outline-danger" href="javascript:reportError(' + row.id + ')" style="margin-right: 10px;">Báo lỗi</a></div>';
                            }

                            if (row.status == 'CAPTURED') {
                                actionBtns += '<div><a class="btn btn-outline-primary" href="javascript:triggerRender(' + row.id + ')" style="margin-right: 10px;">Render</a></div>'
                            } else if (row.status == 'RENDERED') {
                                actionBtns += '<div><a class="btn btn-outline-primary" href="javascript:triggerMergeAudio(' + row.id + ')" style="margin-right: 10px;">Ghép nhạc</a></div>'
                            } else if (row.status == 'MERGE_MUSIC') {
                                actionBtns += '<div><a class="btn btn-outline-primary" href="javascript:triggerUpload(' + row.id + ')" style="margin-right: 10px;">Upload youtube</a></div>'
                            } else if (row.status == 'FETCH_FAIL') {
                                // do nothing for now
                            }

                            return actionBtns;
                        }
                    }]
                });
            });

        </script>
</body>

</html>
